body {
  background-color: #90e0ef;
}

header {
  text-align: center;
  font-family: "Sour Gummy", sans-serif;  
  font-size: 2rem;
}

header h1 {
  margin: 5px;
  font-size: 4em;
  color: #023e8a;
}

header hr {
  border: 5px solid #023e8a;
  border-radius: 5px;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.recipe {
  border: 5px solid #03045E;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.recipe .recipe-title {
  font-family: "Sour Gummy", sans-serif; 
}

.recipe-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex: 1 1 calc(25% - 20px);
}

.recipe .recipe-image {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.recipe .recipe-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color:hsl(0, 0%, 20%);
}

.recipe .recipe-information {
  font-family: "Sour Gummy", sans-serif;  
  color: hsl(0%, 0%, 30%);
}

.recipe-name {
  text-align: center;
  font-family: "Sour Gummy", sans-serif;  
  font-size: 2rem;
}

.recipe-instructions {
  font-family: "Sour Gummy", sans-serif;  
}

.recipe-display-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Sour Gummy", sans-serif;
  align-items: start;
  gap: 2rem;
  padding: 2rem;
}

.recipe-description {
  font-family: "Sour Gummy", sans-serif;
}

.recipe-image {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 20%;
}

.recipe-information,
.ingredient-list {
  padding: 1rem;
}

@media (max-width: 768px) {
  .recipe-display-box {
    grid-template-columns: 1fr;
  }
}


/* IGNORE ALL BELOW */

.welcome-message {
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: hsl(0 0%, 45%);
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.count-dispay {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(197, 100%, 58%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;   
}

.counter-button:hover {
  background-color: hsl(197, 100%, 48%);
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p {
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}

.box {
  border: 3px solid;
  padding: 25px;
}